# Entorno virtual
venv/
# Carpeta de datos (imágenes)
#data/
# Archivos compilados y caché
__pycache__/
*.pyc
# Modelos y checkpoints
*.h5
*.keras
*.tif
*.zip
data/multispectral_images/*/*.tif
.DS_Store
# Opción 1: Ignora todo dentro de drone_data (incluyendo las carpetas de fecha y su contenido)
#data/multispectral_images/TTADDA_NARO_2023_F1/drone_data/*

# Excepción: Mantén la carpeta data.txt, measurements, y metadata
!data/multiepectral_images/TTADDA_NARO_2023_F1/data.md
!data/multispectral_images/TTADDA_NARO_2023_F1/measurements/
!data/multispectral_images/TTADDA_NARO_2023_F1/metadata/
!data/multispectral_images/TTADDA_NARO_2023_F1/README.md

# Opción 2: Ignora todo dentro de las carpetas de fecha (la más directa para tu caso)
# Esto ignora el contenido de 2023-05-18/, 2023-05-23/, etc.
data/multispectral_images/TTADDA_NARO_2023_F1/drone_data/**/*.tif