# Entorno virtual
venv/
# Carpeta de datos (imágenes)
#data/
# Archivos compilados y caché
__pycache__/
*.pyc
# Metadata generada por `pip install -e .` (solo aplica en feature/pest-detection-package)
*.egg-info/
# Modelos y checkpoints
*.h5
*.tif
*.zip
.DS_Store